<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formulario" (submit)="login()" (keyup.enter)="login()">
    <ion-item lines="full">
      <ion-label position="floating">Nombre de usuario:</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña:</ion-label>
      <ion-input type="password" id="password" formControlName="password"></ion-input>
      <ion-button (click)="passwordbtn()" slot="end">
        <ion-icon name="eye-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" [disabled]="!formulario.valid" expand="block" color="success">Iniciar sesion</ion-button>
        <b><a [routerLink]="['/register']">Registrate ahora!</a></b>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
