ion-card {
    text-align: center;

    img {
        height: 160px;
        width: 100%;
    }

    ion-card-header {
        margin-top: -7px;
    }
    
    ion-card-subtitle {
        display: inline;
    }

    ion-col {
        margin-top: -17px;
    }
}

ion-button {
    --color: yellow !important;
}