<ion-app>
  <ion-menu type="push" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu principal</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/main', '1']">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/games']">
            <ion-badge *ngIf="counter > -1" slot="end">{{ counter }}</ion-badge>
            <ion-icon name="game-controller-outline" slot="start"></ion-icon>
            <ion-label>Mis Juegos</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/profile']">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label>Mi perfil</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="admin">
          <ion-item [routerLink]="['/admin']">
            <ion-icon name="key-outline" slot="start"></ion-icon>
            <ion-label>Administracion</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-menu-toggle>
        <ion-item [routerLink]="['/login']">
          <ion-icon name="exit-outline" slot="start"></ion-icon>
          <ion-label>Cerrar sesion</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
