ion-content {
    text-align: center;

    ion-card {
        img {
            height: 160px;
            width: 100%;
        }
    
        ion-card-header {
            margin-top: -7px;
        }
        
        ion-card-subtitle {
            display: inline;
        }
    
        ion-col {
            margin-top: -17px;
        }

        ion-button {
            font-size: 95%;
        }
    }
}

.textmargin {
    margin-top: 5px;
}