<ion-header>
  <ion-toolbar>
    <ion-title>Mis juegos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="textmargin">
    <b *ngIf="juegos.length == 0">No se han encontrado juegos</b>
  </div>
  <ion-card *ngFor="let j of juegos">
    <img src="{{ j.imagen }}" alt="">
    <ion-card-header>
      <ion-card-subtitle *ngFor="let g of j.generos">{{ g.name }} </ion-card-subtitle>
      <ion-card-title>{{ j.titulo }}</ion-card-title>
    </ion-card-header>
    <ion-row>
      <ion-col size="6">
        <ion-button [routerLink]="['details', j.id]" class="ion-text-wrap"
          expand="full">Detalles</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="refundGame(j)" class="ion-text-wrap"
          expand="full" color="danger">Reembolsar</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
