<ion-header>
  <ion-toolbar>
    <ion-title>Mi perfil</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://cdn-icons-png.flaticon.com/512/20/20079.png" alt="">
  <ion-list>
    <ion-item>
      <ion-label>Nombre completo:</ion-label>
      {{ user?.fullname }}
    </ion-item>
    <ion-item>
      <ion-label>Nombre de usuario:</ion-label>
      {{ user?.username }}
    </ion-item>
    <ion-item>
      <ion-label>Correo:</ion-label>
      {{ user?.email }}
    </ion-item>
    <ion-item>
      <ion-label>Genero:</ion-label>
      {{ user?.genero }}
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/profile', 'edit', user?.id]" expand="block" color="warning">Editar perfil</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
